

<div id="boolhiddenaddmatrixid" [hidden]="boolhiddenaddmatrix">


			Create Matrix &nbsp;
			<button (click)="clickAddMatrix()">Finished</button>
			&nbsp;
			<button (click)="addRow()">Add Row</button>
			&nbsp;
			<button (click)="deleteRow()">Delete Row</button>
			&nbsp;
			<button (click)="addColumn()">Add Column</button>
			&nbsp;
			<button (click)="deleteColumn()">Delete Column</button>
			&nbsp;
          

  
<table border=1>	      
<ng-container *ngFor="let row of matrix; let i = index">
	<tr>
	<ng-container *ngFor="let instr of row; let j = index">
		<td><input size="4" 
		           value="{{instr}}" 
		           type="text" 
				   [(ngModel)]="matrix[i][j]" 
		           [ngModelOptions]="{updateOn: 'blur',standalone: true}">
        </td>
	</ng-container>
	</tr>
</ng-container>
</table>
 
 



<!--  (ngModelChange)="saverange(i,j)"   -->
  
  
  
</div> <!-- hidden -->